<div class="footer-wrapper">
  <div class="container-fluid box-wrapper">
    <div class="row content-wrapper">
      <div class="col-md-12 text-center">
        I didn't get enough time to work on footer,
        but this should be the easiest past of this aplication.
        <div>
          &copy; Jeewan Aryal - Coding test for Sapient
          <span class="text-primary">
            <a href="mailto:jeewanaryal@gmail.com">jeewanaryal@gmail.com</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
