<div class="adjust-item-wrapper">
  <div class="container-fluid box-wrapper">
    <div class="row content-wrapper">
      <div class="col-md-8 box-left p-0">
        <img src="../../../assets/tough-mojo-jacket-img2.png" />
      </div>
      <div class="col-md-4 box-right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet erat et turpis ultricies interdum vitae
          ut diam. Proin condimentum mi vitae dapibus interdum. Orci varius natoque penatibus et magnis dis parturient
        </p>
      </div>
    </div>
  </div>
</div>
