<div class="adjust-item-wrapper">
  <div class="container-fluid box-wrapper">
    <div class="row content-wrapper">
      <div class="col-md-7 box-left">
        <img src="../../../assets/tough-mojo-jacket-img1.png" />
      </div>
      <div class="col-md-5 box-right">
        <!-- <img src="../../../assets/controls.png" /> -->
        <h4>Tough Mojo Jacket</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id libero a risus fringilla condimentum.
          Nullam nec lacinia orci. Mauris faucibus metus turpis, in elementum nisl finibus vestibulum. Vivamus pulvinar
          facilisis convallis.
        </p>
        <div class="row">
          <div class="col-md-6">
            <span (click)="selectSize($event, 'size')" class="select">
              <span>Select Size</span>
              <span style="margin-left: 2rem;"><i class="fas fa-caret-down"></i>
              </span>
            </span>
            <ul class="list-size" *ngIf="openSubList === 'size'" [@inOutAnimation]>
              <li>Small</li>
              <li>Large</li>
              <li>Extra Large</li>
            </ul>
          </div>
          <div class="col-md-6">
            <span (click)="selectColor($event, 'color')" class="select">
              <span>Select Color</span>
              <span style="margin-left: 2rem;"><i class="fas fa-caret-down"></i></span>
            </span>
            <ul class="list-color" *ngIf="openSubList === 'color'" [@inOutAnimation]>
              <li>Blue</li>
              <li>Navy Blue</li>
              <li>Black</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="openSubList.length > 0" (click)="openSubList = ''" [@inOutAnimation]>
</div>